# .sh/etc/_etc_systemd_system_opendmarc.service 20180618 - 20180618
# Copyright (C) 2015-2018 Mark Constable <markc@renta.net> (AGPL-3.0)

[Unit]
Description=OpenDMARC Milter
Documentation=man:opendmarc(8) man:opendmarc.conf(5)
After=network.target nss-lookup.target

[Service]
Type=forking
PIDFile=/var/run/opendmarc/opendmarc.pid
User=opendmarc
ExecStart=/usr/sbin/opendmarc -p inet:54321@127.0.0.1 -u opendmarc -P /var/run/opendmarc/opendmarc.pid
Restart=on-failure
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
