# .sh/etc/_etc_systemd_system_hostkeys.service 20220202 - 20220202
# Copyright (C) 2015-2022 Mark Constable <markc@renta.net> (AGPL-3.0)

[Unit]
Description=Regenerate SSH host keys
Before=ssh.service
ConditionFileIsExecutable=/usr/bin/ssh-keygen

[Service]
Type=oneshot
ExecStartPre=-/bin/dd if=/dev/hwrng of=/dev/urandom count=1 bs=4096
ExecStartPre=-/bin/sh -c "/bin/rm -f -v /etc/ssh/ssh_host_*_key*"
ExecStart=/usr/bin/ssh-keygen -A -v
ExecStartPost=/bin/systemctl disable hostkeys
ExecStartPost=/bin/bash -c "[ ! -f /etc/hostname ] && cat /dev/urandom | tr -dc a-z | fold -w4 | head -c4 | tee /etc/hostname && systemctl reboot"

[Install]
WantedBy=multi-user.target
